.Gallery {
  width: 100%;
  background-color: #17044a;
  padding: 80px 0;
}

.Gtitle {
  width: 85%;
  margin: 0 auto;
}

.Gtitle h4 {
  font-weight: 400;
  font-size: 28px;
  color: #ffffff;
}

.Gimg {
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Gimg .img1 {
  width: 30%;
  height: 380px;
}

.Gimg .img1 img {
  width: 100%;
  height: 100%;
}

.Gimg .img2 {
  width: 28%;
  height: 380px;
  display: flex;
  flex-direction: column;
}

.Gimg .img2 img {
  width: 100%;
  height: 50%;
}

.Gimg .img3 {
  width: 20%;
  height: 380px;
}

.Gimg .img3 img {
  width: 100%;
  height: 100%;
}

.Gimg .img4 {
  width: 22%;
  height: 380px;
  display: flex;
  flex-direction: column;
}

.Gimg .img4 img {
  width: 100%;
  height: 50%;
}

.Gimg .img5 {
  width: 30%;
  height: 380px;
  display: flex;
  flex-direction: column;
}

.Gimg .img5 img {
  width: 100%;
  height: 50%;
}

.Gimg .img6 {
  width: 48%;
  height: 380px;
}

.Gimg .img6 img {
  width: 100%;
  height: 100%;
}

.Gimg .img7 {
  width: 22%;
  height: 380px;
}

.Gimg .img7 img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .Gtitle {
    width: 90%;
  }

  .Gimg {
    width: 90%;
  }
}

@media screen and (max-width: 960px) {
  .Gallery {
    padding: 50px 0;
  }

  .Gtitle {
    width: 100%;
    padding: 0 50px;
  }

  .Gimg {
    width: 100%;
    padding: 0 50px;
  }

  .Gimg .img1 {
    width: 40%;
    height: 300px;
  }

  .Gimg .img2 {
    width: 32%;
    height: 300px;
  }

  .Gimg .img3 {
    width: 28%;
    height: 300px;
  }

  .Gimg .img4 {
    width: 50%;
    height: 300px;
  }

  .Gimg .img5 {
    width: 50%;
    height: 300px;
  }

  .Gimg .img6 {
    width: 72%;
    height: 300px;
  }

  .Gimg .img7 {
    width: 28%;
    height: 300px;
  }
}

@media screen and (max-width: 800px) {
  .Gtitle h4 {
    font-size: 26px;
  }

  .Gimg .img1 {
    width: 45%;
    height: 280px;
  }

  .Gimg .img2 {
    width: 55%;
    height: 280px;
  }

  .Gimg .img3 {
    width: 40%;
    height: 280px;
  }

  .Gimg .img4 {
    width: 60%;
    height: 280px;
  }

  .Gimg .img5 {
    display: none;
  }

  .Gimg .img6 {
    width: 67%;
    height: 280px;
  }

  .Gimg .img7 {
    width: 33%;
    height: 280px;
  }
}

@media screen and (max-width: 550px) {
  .Gtitle {
    width: 100%;
    padding: 0 25px;
  }

  .Gimg {
    width: 100%;
    padding: 0 25px;
  }

  .Gtitle h4 {
    font-size: 24px;
  }

  .Gimg .img1 {
    width: 100%;
    height: 280px;
  }

  .Gimg .img2 {
    width: 60%;
    height: 330px;
  }

  .Gimg .img3 {
    width: 40%;
    height: 330px;
  }

  .Gimg .img4 {
    width: 100%;
    height: 350px;
  }

  .Gimg .img6 {
    width: 100%;
    height: 280px;
  }

  .Gimg .img7 {
    display: none;
  }
}